# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
myvenv/
venv/

# ==============================
# Build Artifacts
# ==============================
*.egg-info/
dist/
build/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# Logs
# ==============================
logs/

# ==============================
# Data (raw datasets only)
# ==============================
data/*.csv
data/*.zip

# ==============================
# Ignore large temp model files (optional)
# ==============================
models/*.bin
models/*.joblib

-e .